body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .all {
    display: flex;
    height: 100%;
  }
  .dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    
    background-color: #fbeebb;
    overflow-y: auto;
    height: 100vh;
    width: calc(100% - 200px); /* Adjust width to account for sidebar */
  }
  
  .line {
    width: 100vw;
    height: 80px;
    background-color: rgb(251, 216, 129);
    grid-column: span 2; /* Ensure the line spans the full width */
  }
  
  .dashboard-item {
    padding: 20px;
    color: black;
    text-align: center;
   font-size: 1.3rem;
   font-weight: 700;
    width: 300px;
    height: 100px;
    margin-left: 150px;
  
    
  }
  
  .light-yellow {
    background-color:rgb(231, 182, 84) ;
    
  }
  
  .light-red {
    background-color:rgb(126, 46, 46);
    
    
  }
  
  .dark-red {
    background-color: rgb(136, 52, 52);
   
  }
  
  .dark-yellow {
    background-color: rgb(242, 203, 105);
   
  }
  .dark-red1 {
    background-color: rgb(126, 92, 92);
   
  }
  .dark-yellow1 {
    background-color: rgb(136, 123, 86);
   
  }
  
  @media (max-width: 768px) {
    .all {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%;
      height: auto;
      padding-top: 0;
    }
  
    .dashboard {
      grid-template-columns: 1fr;
      width: 100%;
      height: auto;
    }
  
    .line {
      grid-column: 1; /* Adjust the span for single column layout */
    }
  }