/* Homepage Background  */
.homepage-content {
  position: relative;
  display: flex;
  background-color: rgba(150, 201, 244,0.3)
}
.homepage-content img {
  max-width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.homepage-content .text {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 25%;
  text-align: center;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  color: white;
}

.homepage-content .text span {
  font-size: 100px;
  font-weight: bold;
}

.homepage-content .text h1 {
  font-size: 50px;
  font-weight: bold;
}

.homepage-content .buttons {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 15%;
  text-align: center;
  display: flex;
  gap: 20px;
}

.homepage-content .buttons button {
  padding: 10px 20px;
  width: 170px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  transition: 300ms ease-in-out;
}

.homepage-content .buttons button:hover {
  background-color: white;
}

@media (max-width: 768px) {
  .homepage-content .text span {
    font-size: 50px;
  }

  .homepage-content .text h1 {
    font-size: 30px;
  }
}