body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffd700;
    margin: 0;
}

.newpwd {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 4px solid #000000;
    border-radius: 50px;
    width: 400px;
    height: 400px;
    margin-top: 20px;
    background: linear-gradient(to top right, rgba(234, 107, 98, 0.8), rgba(255, 219, 123, 1));
    align-items: center;
}



.newpwd .text1 {
    display: flex;
    font-size: 25px;
    margin: 20px 0px;
    text-align: center;
    font-weight: bold;
}

.newpwd .text2,
.newpwd .text3  {
    margin-bottom: 10px;
    font-weight: bold;
}


.newpwd .newpassword,
.newpwd .repeatpassword {
    border: 2px solid #000000;
    border-radius: 20px;
    width: 300px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    background-color: rgba(255, 255, 255, 0.75);
}




.newpwd Button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}


