body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .all {
    display: flex;
    height: 100%;
  }
  
  .sidebar {
    width: 200px;
    background-color:rgb(245, 189, 52);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 100vh;
  }
  
  .sidebar-item {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    transition: transform 0.3s ease;

  }
  
  .sidebar-item img {
    margin-right: 10px;
    width: 24px;  /* Adjust the width as needed */
    height: 24px; /* Adjust the height as needed */
  }
  
  .sidebar-item.active {
    background-color: rgb(128, 0, 0);
    border-radius: 10px;
  }
  .sidebar-item:hover {
    transform: scale(1.1); /* Scale up the item slightly on hover */
  }
  @media (max-width: 768px) {
    .all {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%;
      height: auto;
      padding-top: 0;
    }
  
    .dashboard {
      grid-template-columns: 1fr;
      width: 100%;
      height: auto;
    }
  
    .line {
      grid-column: 1; /* Adjust the span for single column layout */
    }
  }