* {
  margin: 0;
}

/* Navbar  */
.Navbar {
  background-color: #800000;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.logo-text {
  display: flex;
  align-items: center;
}

.logo-text .text {
  color: #f5bd34;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  padding-left: 10px;
  transition: filter 300ms ease-in-out;
}

.logo-text .text:hover {
    filter: brightness(0.9);
}

.navlinks li {
  color: white;
  list-style: none;
  display: inline-block;
  padding: 20px 70px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 300ms ease-in-out;
}

.navlinks li:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .navlinks {
    display: none;
  }
}

/* Footer  */
.Footer {
  background-color: #f8d171;
  padding: 20px;
}

.Footer .content {
  display: flex;
  margin: 20px;
}

.Footer span {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-left: 15px;
}
